# User-specific stuff:
.idea
.vscode
.run
*.env

# File-based project format:
*.iml

# Log file
*.log

# Python
__pycache__/
*/dist/
*.cert
*.key
**/scratches
**/turing_results
**/.env*

# Coverage
.coverage
